@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  
}

:root {
  --font-family: 'Outfit';
  --color-bg: hsl(212, 45%, 89%);
  --card-bg: hsl(0, 0%, 100%)
}